@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-block" style="margin-top: 30px; margin-left: 50px">
    <span style="font-size:15px">
        Desenvolvido por <b>Caio Barutti</b><br />
        Email: <a href="mailto:caiobarutti.ec@gmail.com">caiobarutti.ec@gmail.com</a>
    </span>
</div>
